= form_for(anaesthetic) do |f|
  - if anaesthetic.errors.any?
    #error_explanation
      %h2
        = pluralize(anaesthetic.errors.count, "error")
        prohibited this anaesthetic from being saved:
      %ul
        - anaesthetic.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :patient_first_name
    = f.select :patient_id, Patient.all.collect { |p| [ p.full_name, p.id ] }
  .field
    = f.label :doctor_full_name
    = f.select :doctor_id, Doctor.all.collect { |p| [ p.full_name, p.id ] }
  .field
    = f.label :date_and_time
    = f.datetime_select :date_and_time
  .field
    = f.label :intevention
    = f.text_field :intevention
  .field
    = f.label :indication
    = f.text_field :indication
  .field
    = f.label :no_attempts
    = f.number_field :no_attempts
  .field
    = f.label :complications
    = f.text_field :complications
  .actions
    = f.submit
