= simple_form_for([@patient, @anaesthetic], html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  -#.field

    -#= f.association :patient, label_method: :full_name
  .field
    = f.input :date_and_time
  .field
    = f.association :doctor, label_method: :full_name
  
  .field
    = f.input :intevention, collection:["EPIDURAL", "EPIDURAL TOP UP", "CSE", "SPINAL","INTRATHECAL CATHETER", "GA", "PCA"]

  .field
    = f.input :indication, collection:["LABOUR", "ELSC", "EMCS","REPAIR OF TEAR", "EMCS","REPAIR OF TEAR", "MANUAL REMOVAL", "CERVICAL SUTURE REMOVAL", "EMCS","REPAIR OF TEAR", "CERVICAL SUTURE INSERTION" ]

  .field
    = f.input :no_attempts, collection: 1..5

  .field
    = f.input :complications, collection:["NONE","BONEY OBSTRUCTION", "BLOOD IN CATHETER", "DURAL PUNCTURE"]

  .actions
    = f.submit nil, label:'Save', :class => 'btn btn-primary'
