<%= form_for(anaesthetic) do |f| %>
  <% if anaesthetic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anaesthetic.errors.count, "error") %> prohibited this anaesthetic from being saved:</h2>

      <ul>
      <% anaesthetic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_first_name %>
    <%= f.select :patient_id, Patient.all.collect { |p| [ p.first_name, p.id ] } %>
  </div>

  <div class="field">
    <%= f.label :doctor_first_name %>
    <%= f.select :doctor_id, Doctor.all.collect { |p| [ p.first_name, p.id ] } %>

  </div>



  <div class="field">
    <%= f.label :date_and_time %>
    <%= f.datetime_select :date_and_time %>
  </div>

  <div class="field">
    <%= f.label :intevention %>
    <%= f.text_field :intevention %>
  </div>

  <div class="field">
    <%= f.label :indication %>
    <%= f.text_field :indication %>
  </div>

  <div class="field">
    <%= f.label :no_attempts %>
    <%= f.number_field :no_attempts %>
  </div>

  <div class="field">
    <%= f.label :complications %>
    <%= f.text_field :complications %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
