%p#notice= notice
%h1 Anaesthetics
%table
  %thead
    %tr
      %th Patient
      %th Doctor
      %th Date and time
      %th Intevention
      %th Indication
      %th No attempts
      %th Complications
      %th{:colspan => "3"}
  %tbody
    - @anaesthetics.each do |anaesthetic|
      %tr
        %td= anaesthetic.patient.first_name
        %td= anaesthetic.doctor.first_name
        %td= anaesthetic.date_and_time
        %td= anaesthetic.intevention
        %td= anaesthetic.indication
        %td= anaesthetic.no_attempts
        %td= anaesthetic.complications
        %td= link_to 'Show', anaesthetic
        %td= link_to 'Edit', edit_anaesthetic_path(anaesthetic)
        %td= link_to 'Destroy', anaesthetic, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Anaesthetic', new_anaesthetic_path
