<p id="notice"><%= notice %></p>

<h1>Anaesthetics</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Date and time</th>
      <th>Intevention</th>
      <th>Indication</th>
      <th>No attempts</th>
      <th>Complications</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anaesthetics.each do |anaesthetic| %>
      <tr>
        <td><%= anaesthetic.patient.first_name %></td>
        <td><%= anaesthetic.doctor.first_name %></td>
        <td><%= anaesthetic.date_and_time %></td>
        <td><%= anaesthetic.intevention %></td>
        <td><%= anaesthetic.indication %></td>
        <td><%= anaesthetic.no_attempts %></td>
        <td><%= anaesthetic.complications %></td>
        <td><%= link_to 'Show', anaesthetic %></td>
        <td><%= link_to 'Edit', edit_anaesthetic_path(anaesthetic) %></td>
        <td><%= link_to 'Destroy', anaesthetic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anaesthetic', new_anaesthetic_path %>
