%p#notice= notice


%p
  %strong Doctor:
  = @anaesthetic.doctor.full_name
%p
  %strong Patient:
  = @anaesthetic.patient.full_name
%p
  %strong Date and time:
  = @anaesthetic.date_and_time
%p
  %strong Intevention:
  = @anaesthetic.intevention
%p
  %strong Indication:
  = @anaesthetic.indication
%p
  %strong No attempts:
  = @anaesthetic.no_attempts
%p
  %strong Complications:
  = @anaesthetic.complications

%table.table.table-striped
  %thead
    %tr
      %th Doctor
      %th Mobilising
      %th Sensory disturbance
      %th Motor weakness
      %th Passed urine
      %th Headache
      %th Pain
      %th Awareness ga


  %tbody
    - @anaesthetic.patient.follow_ups.each do |follow_up|
      %tr
        %td= follow_up.doctor.full_name
        %td= follow_up.mobilising
        %td= follow_up.sensory_disturbance
        %td= follow_up.motor_weakness
        %td= follow_up.passed_urine
        %td= follow_up.headache
        %td= follow_up.pain
        %td= follow_up.awareness_GA



= simple_form_for FollowUp.new do |f|

  = f.hidden_field :patient_id, value: @anaesthetic.patient_id
  = f.association :doctor, label_method: :full_name,  :label => "Doctor following up:"
  = f.input :mobilising
  = f.input :sensory_disturbance
  = f.input :motor_weakness
  = f.input :passed_urine
  = f.input :headache
  = f.input :pain
  = f.input :awareness_GA

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'

= link_to 'Edit', edit_patient_anaesthetic_path(@patient, @anaesthetic)
|
= link_to 'Back', patient_anaesthetics_path(@patient)
