%p#notice= notice
%p
  %strong Doctor:
  = @anaesthetic.doctor.first_name
%p
  %strong Patient:
  = @anaesthetic.patient.first_name
%p
  %strong Date and time:
  = @anaesthetic.date_and_time
%p
  %strong Intevention:
  = @anaesthetic.intevention
%p
  %strong Indication:
  = @anaesthetic.indication
%p
  %strong No attempts:
  = @anaesthetic.no_attempts
%p
  %strong Complications:
  = @anaesthetic.complications

- @anaesthetic.patient.follow_ups.each do |follow_up|
  %p= follow_up.mobilising

= simple_form_for FollowUp.new do |f|
  = f.check_box :mobilising
  = f.text_field :patient_id, value: @anaesthetic.patient_id
  = f.text_field :doctor_id, value: @anaesthetic.doctor_id

  %input{:type => "submit"}

= link_to 'Edit', edit_patient_anaesthetic_path(@patient, @anaesthetic)
|
= link_to 'Back', patient_anaesthetics_path(@patient)
