%h1 Follow Ups


%table.table.table-striped.table-responsive
  %thead
    %tr
      %th Date and Time
      %th Doctor
      %th Patient
      %th Mobilising
      %th Sensory disturbance
      %th Motor weakness
      %th Passed urine
      %th Headache
      %th Pain
      %th Awareness ga
      %th
      %th
      %th

  %tbody
    - @follow_ups.each do |follow_up|
      %tr
        %td= follow_up.date_and_time.strftime("%m/%d/%Y %H:%M")
        %td= follow_up.doctor.full_name
        %td= follow_up.patient.full_name
        %td= follow_up.mobilising
        %td= follow_up.sensory_disturbance
        %td= follow_up.motor_weakness
        %td= follow_up.passed_urine
        %td= follow_up.headache
        %td= follow_up.pain
        %td= follow_up.awareness_GA
        %td= link_to 'Show', follow_up, :class => 'btn btn-mini btn-success'
        %td= link_to 'Edit', edit_follow_up_path(follow_up), :class => 'btn btn-mini btn-warning'
        %td= link_to 'Destroy', follow_up, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

%br

= link_to 'New Follow up', new_patient_follow_up_path(@patient)
