= simple_form_for(patient) do |f|
  - if patient.errors.any?
    #error_explanation
      %h2
        = pluralize(patient.errors.count, "error")
        prohibited this patient from being saved:
      %ul
        - patient.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :first_name

  .field
    = f.input :last_name

  .field
    = f.input :DOB

  .field
    = f.input :NHS_No

  .field
    = f.input :MRN

  .actions
    = f.submit nil, label:'Save', :class => 'btn btn-primary'
