<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.DOB %>
</p>

<p>
  <strong>Nhs no:</strong>
  <%= @patient.NHS_No %>
</p>

<p>
  <strong>Mrn:</strong>
  <%= @patient.MRN %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
