= simple_form_for(doctor) do |f|
  - if doctor.errors.any?
    #error_explanation
      %h2
        = pluralize(doctor.errors.count, "error")
        prohibited this doctor from being saved:
      %ul
        - doctor.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :first_name

  .field
    = f.input :last_name

  .field
    = f.input :grade

  .actions
    = f.submit nil, label:'Save', :class => 'btn btn-primary'
